.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.form {
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: left;
    align-content: space-around;
}

.form input {
    margin: 5px;
}

.label {
    margin: 2px;
}

.expenses {
    display: none;
    margin: 50px auto;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

.expenses tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.required-astrisk {
    color: red;
}